.head{
    display: inline;
}
#getData{
    background-color: black;
    color: white;
    width: 15%;
    padding: 8px;
    cursor: pointer;
    display: block;
}
#ip-address{
    font-size: 25px;    
}
@media screen and (max-width:768px){
    #ip-address{
        font-size: 25px;    
    }
    #getData{
        width: 20%;
    }
}