body{
    background-color: black;
}
.head{
    display: inline;
    color: white;
    margin-left: 10px;
}
#getData{
    background-color: #678736;
    color: white;
    font-size: larger;
    width: 15%;
    padding: 8px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
}
#ip-address{
    font-size: 25px; 
    color: white;   
}
@media screen and (max-width:768px){
    #ip-address{
        font-size: 25px;    
    }
    #getData{
        width: 20%;
    }
}